<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" crossorigin="anonymous"
        integrity="sha256-UDtbUHqpVVfXmdJcQVU/bfDEr9xldf3Dbd0ShD0Uf/Y=">
  <style>
    .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
  </style>
  <title>NuPassWeb</title>
</head>
<body>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <p class="title">NuPassWeb</p>
      <p class="subtitle">Because your users can't deal with <a href="http://linux.die.net/man/1/pwmake">pwmake</a></p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">{{ error_code }} Error - Uh oh!</h1>
      <p>{{ error_msg }}</p>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        Copyright &copy; 2017-2021 by <a href="https://github.com/seancallaway">Sean Callaway</a>. NuPassWeb is <a href="https://www.gnu.org/philosophy/free-sw.en.html" target="_blank">Free Software</a> available under the GPLv2. See our <a href="https://github.com/NuPass/NuPassWeb">GitHub</a>.
      </span>
    </div>
  </footer>
</body>
</html>
