<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" crossorigin="anonymous"
        integrity="sha256-UDtbUHqpVVfXmdJcQVU/bfDEr9xldf3Dbd0ShD0Uf/Y=">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    function getPasses() {
      $.getJSON('/gen_pass', {
          qty: $('input[id="quantity"]').val()
        }, function(data) {
          result = data.notice_str;
          for (i in data.passwords) {
            if (i > 0) {
              result += "\n";
            }
            result += data.passwords[i].password;
          }
          $("#result").attr("rows", data.rows);
          $("#result").text(result);
        });
        return false;
    }
    $(function() {
      $('button#regenBtn').bind('click', getPasses);
    });
  </script>
  <style>
    .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
  </style>
  <title>NuPassWeb</title>
</head>
<body onload="getPasses();">
  <div class="container">
    <div class="jumbotron">
      <h1>NuPassWeb</h1>
      <p>Because your users can't deal with <a href="http://linux.die.net/man/1/pwmake">pwmake</a></p>
    </div>
  </div>
  <div class="container">
    <p>Here are some passwords:</p>
    <textarea id="result" class="form-control" rows="5"></textarea>
    <p>
    <form class="form-inline">
      <div class="form-group">
        <label class="control-label" for="quantity">Generate </label>
        <input size="1" type="text" class="form-control" id="quantity" value="5">
        <label class="control-label" for="regenBtn"> more passwords</label>
        <button type="button" class="btn btn-default" id="regenBtn">Go!</button>
      </div>
    </form>
    <p>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">
        Copyright &copy; 2017 by <a href="https://github.com/seancallaway">Sean Callaway</a>. NuPassWeb is <a href="https://www.gnu.org/philosophy/free-sw.en.html" target="_blank">Free Software</a> available under the GPLv2. See our <a href="https://github.com/NuPass/NuPassWeb">GitHub</a>.
      </span>
    </div>
  </footer>
</body>
</html>
